Repository mrksr/WAVI-on-ray: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry, isort, black, pydocstyle, pylint

poetry:
  name: poetry
  entry: poetry check
  language: system
  pass_filenames: false

isort:
  name: isort
  entry: isort
  language: system
  require_serial: true

black:
  name: black
  entry: black
  language: system
  require_serial: true

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

Fix style issues with the test script
  bin/ray_test_script.py
Due: isort, black, pydocstyle, pylint

Use remote hooks for most pre-commit steps
  .pre-commit-config.yaml
Due: none

Skip pylint in CI
  .pre-commit-config.yaml
Due: none

Add tooling for coregionalization notebook
  poetry.lock
  pyproject.toml
Due: poetry

Add tooling for netCDF
  poetry.lock
  pyproject.toml
Due: poetry

Add a coregionalization notebook
  notebooks/data_exploration.ipynb
  notebooks/ensemble_10km_test.nc
Due: none

Add titles to plots
  notebooks/data_exploration.ipynb
Due: none

Add dvc
  poetry.lock
  pyproject.toml
Due: poetry

Move ensemble to own folder
  datasets/ensemble_10km_test.nc
Due: none

Initialize dvc
  .dvc/.gitignore
  .dvc/config
  .dvcignore
Due: none

Add mlatcl S3 storage
  .dvc/config
Due: none

Stop tracking dataset in git
  datasets/ensemble_10km_test.nc
Due: none

Add ensemble dataset to dvc
  .dvc/config
  datasets/.gitignore
  datasets/ensemble_10km_test.nc.dvc
Due: none

Add python version marker
  .python-version
Due: none

Add dvc s3 extra
  poetry.lock
  pyproject.toml
Due: poetry

Remove commitizen
  pyproject.toml
  wavi_on_ray/__init__.py
Due: poetry, isort, black, pydocstyle, pylint

Fix s3fs dependency weirdness
  poetry.lock
  pyproject.toml
Due: poetry

Update black to a non-beta-version
  poetry.lock
  pyproject.toml
Due: poetry

Add renovate.json
  renovate.json
Due: none

Update dependency mypy to ^0.931
  poetry.lock
  pyproject.toml
Due: poetry

Update dependency python to v3.10.2
  .python-version
Due: none

Add ensemble_10km_test ingestion code
  wavi_on_ray/__init__.py
  wavi_on_ray/ingestion/__init__.py
  wavi_on_ray/ingestion/ensemble_10km_test.py
Due: isort, black, pydocstyle, pylint

Disallow Python 3.10 due to missing wheels
  pyproject.toml
Due: poetry

Add missing hdf dependency
  pyproject.toml
Due: poetry

Update lockfile
  poetry.lock
Due: none

Add ingestion as a stage to dvc
  datasets/prepared/.gitignore
  dvc.lock
  dvc.yaml
Due: none

Output in a dedicated subfolder
  wavi_on_ray/ingestion/ensemble_10km_test.py
Due: isort, black, pydocstyle, pylint

Maybe hopefully actually fix the boto3 dependency
  poetry.lock
  pyproject.toml
Due: poetry

Update dependency xarray to v2022
  poetry.lock
  pyproject.toml
Due: poetry

Refactor module and expose a proper cli
  datasets/prepared/.gitignore
  dvc.lock
  dvc.yaml
  pyproject.toml
  wavi_on_ray/__init__.py
  wavi_on_ray/cli.py
  wavi_on_ray/ensemble_10km_test/__init__.py
  wavi_on_ray/ensemble_10km_test/ingestion.py
  wavi_on_ray/ingestion/__init__.py
Due: poetry, isort, black, pydocstyle, pylint

Update dependency ipython to v8
  poetry.lock
  pyproject.toml
Due: poetry

Include modelling-code from explore notebook
  wavi_on_ray/ensemble_10km_test/__init__.py
  wavi_on_ray/ensemble_10km_test/modelling.py
Due: isort, black, pydocstyle, pylint

Use wavi_on_ray code in the notebook
  notebooks/data_exploration.ipynb
Due: none

Add training dataset subsampling as a step
  datasets/prepared/ensemble_10km_test/.gitignore
  dvc.lock
  dvc.yaml
  wavi_on_ray/ensemble_10km_test/__init__.py
  wavi_on_ray/ensemble_10km_test/ingestion.py
  wavi_on_ray/ensemble_10km_test/training_datasets.py
Due: isort, black, pydocstyle, pylint

Fix combination of task indexers
  wavi_on_ray/ensemble_10km_test/training_datasets.py
Due: isort, black, pydocstyle, pylint

Add model training sweeps using ray
  dvc.lock
  wavi_on_ray/ensemble_10km_test/__init__.py
  wavi_on_ray/ensemble_10km_test/modelling.py
Due: isort, black, pydocstyle, pylint

Make README a bit more correct
  README.md
Due: none

Update dependency mypy to ^0.940
  poetry.lock
  pyproject.toml
Due: poetry

Update dependency mypy to ^0.941
  poetry.lock
  pyproject.toml
Due: poetry

Update dependency python to v3.10.3
  .python-version
Due: none

Path conditions:
  poetry: any of: pyproject.toml
  isort: any of: \.py$
  black: any of: \.py$
  pydocstyle: any of: \.py$
  pylint: any of: \.py$
